.vscode
tests/filltests/fillscanline/fillscanline
tests/filltests/fillscanline/fillscanlinenoclip
tests/filltests/fillscanline/fillscanline.o
tests/filltests/fillscanline/fillscanlinenoclip.o
tests/filltests/fillscanline/fillscanlinevampire
tests/filltests/fillscanline/fillscanlinenoclipvampire
tests/filltests/fillscanline/fillscanlinevampire.o
tests/filltests/fillscanline/fillscanlinenoclipvampire.o
tests/filltests/filllines/filllines
tests/filltests/filllines/filllines.o
tests/filltests/filllines/filllinesvampire
tests/filltests/filllines/filllinesvampire.o
tests/filltests/fillpolygon/fillpolygon
tests/filltests/fillpolygon/fillpolygon.o
tests/filltests/fillpolygon/fillpolygonvampire
tests/filltests/fillpolygon/fillpolygonvampire.o
tests/matrixtests/basic/matrixbasic
tests/matrixtests/basic/matrixbasic.o
tests/matrixtests/basic/matrixbasicvampire
tests/matrixtests/basic/matrixbasicvampire.o
tests/matrixtests/multiplications/matrixmultiplicationsvampire
tests/matrixtests/multiplications/matrixmultiplicationsvampire.o
tests/matrixtests/multiplications/matrixmultiplications.o
tests/matrixtests/multiplications/matrixmultiplications
tests/drawingtests/points/drawingtestspoint.o
tests/drawingtests/points/drawingtestspointvampire.o
tests/drawingtests/points/drawingtestspointvampire
tests/drawingtests/points/drawingtestspoint
tests/drawingtests/filledpolygons/drawingtestsfilledpolygonvampire.o
tests/drawingtests/filledpolygons/drawingtestsfilledpolygonvampire
tests/drawingtests/filledpolygons/drawingtestsfilledpolygon.o
tests/drawingtests/filledpolygons/drawingtestsfilledpolygon
tests/drawingtests/filledpolygons3d/drawingtestsfilledpolygon3d
tests/drawingtests/filledpolygons3d/drawingtestsfilledpolygon3d.o
tests/drawingtests/filledpolygons3d/drawingtestsfilledpolygon3dvampire
tests/drawingtests/filledpolygons3d/drawingtestsfilledpolygon3dvampire.o
tests/filltests/fillpolygon/fillpolygon
tests/filltests/fillpolygon/fillpolygonvampire
tests/filltests/filltransformations/filltransformations
tests/filltests/filltransformations/filltransformations.o
tests/filltests/filltransformations/filltransformationsvampire
tests/filltests/filltransformations/filltransformationsvampire.o
tests/filltests/filltransformations3d/filltransformations3d
tests/filltests/filltransformations3d/filltransformations3dvampire
tests/filltests/filltransformations3d/filltransformations3d.o
tests/filltests/filltransformations3d/filltransformations3dvampire.o
tests/filltests/filllinesnoclip/filllinesnoclip
tests/filltests/filllinesnoclip/filllinesnoclip.o
tests/filltests/filllinesnoclip/filllinesnoclipvampire
tests/filltests/filllinesnoclip/filllinesnoclipvampire.o
tests/filltests/fillscanlinenoclip/fillscanlinenoclip
tests/filltests/fillscanlinenoclip/fillscanlinenoclip.o
tests/filltests/fillscanlinenoclip/fillscanlinenoclipvampire
tests/filltests/fillscanlinenoclip/fillscanlinenoclipvampire.o
DEADJOE
lol