.vscode

tests/filltests/fillscanline/fillscanline
tests/filltests/fillscanline/fillscanline.o
tests/filltests/fillscanline/fillscanlinevampire
tests/filltests/fillscanline/fillscanlinevampire.o

tests/filltests/filllines/filllines
tests/filltests/filllines/filllines.o
tests/filltests/filllines/filllinesvampire
tests/filltests/filllines/filllinesvampire.o

tests/filltests/fillpolygon/fillpolygon
tests/filltests/fillpolygon/fillpolygon.o
tests/filltests/fillpolygon/fillpolygonvampire
tests/filltests/fillpolygon/fillpolygonvampire.o

DEADJOE
lol